docs/schema/QML_34.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://archive.astro.umd.edu/ont/Quantity.owl" 
            xmlns:map="http://archive.astro.umd.edu/ont/Mappings.owl" 
            xmlns:so="http://archive.astro.umd.edu/ont/SemanticObject" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified" 
            targetNamespace="http://archive.astro.umd.edu/ont/Quantity.owl"
>

  <xsd:import namespace="http://archive.astro.umd.edu/ont/SemanticObject" 
              schemaLocation="SOML_56.xsd"/>

  <xsd:annotation>
    <xsd:documentation>
   QML (Quantity Modeling Language) XML schema. 
   Version 0.34. Dec 2007.

   Copyright (c) 2004-2007 Brian Thomas and Edward Shaya. All rights reserved.

   LICENSE

   This file is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free Software Foundation; either
   version 2.1 of the License, or (at your option) any later version.

   This file is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.

   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA
        
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name="QuantityType">
      <xsd:annotation>
      <xsd:documentation>generic quantity type</xsd:documentation>
    </xsd:annotation>
      <xsd:complexContent>
       	  <xsd:extension base="so:SemanticObjectType"/>
      </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AbstractComponentType">
      <xsd:annotation>
      <xsd:documentation>generic component type</xsd:documentation>
    </xsd:annotation>
      <xsd:complexContent>
       	  <xsd:extension base="so:SemanticObjectType"/>
      </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="propertyType">
     <xsd:annotation>
         <xsd:documentation>Property on Q's. Extended here to allow adding QuantityGroup</xsd:documentation>
     </xsd:annotation>
     <xsd:complexContent>
        <xsd:restriction base="so:propertyType">
           <xsd:choice minOccurs="1">
              <xsd:element ref="QuantityGroup"/>
              <xsd:element ref="ListQuantityGroup"/>
              <xsd:element ref="so:SemanticObjectGroup"/>
           </xsd:choice>
           <xsd:attribute name="URI" type="xsd:anyURI"/>
        </xsd:restriction>
     </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="listPropertyType">
     <xsd:annotation>
         <xsd:documentation>Property on Q's. Extended here to allow adding QuantityGroup</xsd:documentation>
     </xsd:annotation>
     <xsd:complexContent>
        <xsd:restriction base="so:propertyType">
           <xsd:choice minOccurs="1">
              <xsd:element ref="ListQuantityGroup"/>
           </xsd:choice>
           <xsd:attribute name="URI" type="xsd:anyURI"/>
        </xsd:restriction>
     </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="ReferenceFrameType">
      <xsd:annotation>
      <xsd:documentation>A container for coordinate reference frame information (axes)</xsd:documentation>
    </xsd:annotation>
      <xsd:complexContent>
           <xsd:restriction base="so:SemanticObjectType">
              <xsd:choice>
                  <xsd:element name="property" type="listPropertyType" minOccurs="1" maxOccurs="unbounded"/>
                  <xsd:element name="dtproperty" type="so:simplePropertyType" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:choice>
              <xsd:attributeGroup ref="so:SemanticAttribs"/>
           </xsd:restriction>
      </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="matrixQuantityType">
    <xsd:annotation>
      <xsd:documentation>matrix quantity .. the full monty</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="QuantityType">
        <xsd:sequence>
          <!-- special specification of the (apparent) dimensionality -->
          <xsd:choice>
             <xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="propertyType"/>
             <xsd:element maxOccurs="unbounded" minOccurs="0" name="dtproperty" type="so:simplePropertyType"/>
          </xsd:choice>

          <!-- data section. various groupings -->
          <xsd:choice>
              <!-- type 1 : scalar needs dataType + units -->
              <xsd:sequence>
                 <xsd:element minOccurs="0" ref="UnitsGroup"/>
                 <xsd:element maxOccurs="1" minOccurs="0" ref="ScalarDataTypeGroup"/>
              </xsd:sequence>
              <!-- type 2 : vector needs dataType only -->
              <xsd:element name="vector" type="vectorType"/>
          </xsd:choice>

          <xsd:choice>
              <xsd:element ref="ValueGroup"/>
              <xsd:element name="values" type="ValuesContainer"/>
              <!--xsd:element name="mapping" type="map:MappingContainer"/-->
          </xsd:choice>

        </xsd:sequence>
        <xsd:attributeGroup ref="matrixQuantityAttribs"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- list quantity .. a list of values -->
  <xsd:complexType name="listQuantityType">
    <xsd:complexContent>
      <xsd:restriction base="matrixQuantityType">
        <xsd:sequence>

          <xsd:choice>
             <xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="propertyType"/>
             <xsd:element maxOccurs="unbounded" minOccurs="0" name="dtproperty" type="so:simplePropertyType"/>
          </xsd:choice>

            <!-- data section. various groupings -->
            <xsd:choice>
               <!-- type 1 : scalar needs dataType + units -->
               <xsd:sequence>
                  <xsd:element minOccurs="0" ref="UnitsGroup"/>
                  <xsd:element maxOccurs="1" minOccurs="0" ref="ScalarDataTypeGroup"/>
               </xsd:sequence>
               <!-- type 2 : vector needs dataType only -->
               <xsd:element name="vector" type="vectorType"/>
            </xsd:choice>

            <xsd:choice>
               <xsd:element ref="ValueGroup"/>
               <xsd:element name="values" type="ValuesContainer"/>
               <!-- xsd:element name="mapping" type="map:MappingContainer"/-->
            </xsd:choice>

        </xsd:sequence>
        <xsd:attributeGroup ref="listQuantityAttribs"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="atomicQuantityType">
    <xsd:annotation>
        <xsd:documentation>The atomic quantity .. a single "value" only </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="listQuantityType">
        <xsd:sequence>

          <xsd:choice>
             <xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="propertyType"/>
             <xsd:element maxOccurs="unbounded" minOccurs="0" name="dtproperty" type="so:simplePropertyType"/>
          </xsd:choice>

           <xsd:choice>
              <!-- type 1 : scalar needs dataType + units -->
              <xsd:sequence>
                 <xsd:element minOccurs="0" ref="UnitsGroup"/>
                 <xsd:element maxOccurs="1" minOccurs="0" ref="ScalarDataTypeGroup"/>
              </xsd:sequence>
              <!-- type 2 : vector needs dataType only -->
              <xsd:element name="vector" type="vectorType"/>
           </xsd:choice>

           <xsd:element ref="ValueGroup"/>

        </xsd:sequence>
        <xsd:attributeGroup ref="atomicQuantityAttribs"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- trivial quantity..can hold pcdata within as well as name/desc attribs -->
<!--
  <xsd:complexType name="TrivialQuantityType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="QuantityType">
        <xsd:attributeGroup ref="QuantityAttribs"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
-->

<!--
  <xsd:complexType name="unmixedQuantityType" mixed="false">
     <xsd:annotation>
        <xsd:documentation>This is an intermediate to restrict PCDATA in quantity except for trivialQuantities</xsd:documentation>
     </xsd:annotation>
     <xsd:complexContent mixed="false">
        <xsd:restriction base="QuantityType"/>
     </xsd:complexContent>
  </xsd:complexType>
-->

  <!-- value cell container types -->
  <!-- values can be ASCII string of fixed width or not (delimited by whitespace),
             or may be held in tagged cells -->
  <xsd:complexType mixed="true" name="ValuesContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ValueGroup"/>
    </xsd:sequence>
    <xsd:attribute default="no" name="fixedWidth">
      <xsd:simpleType>
        <xsd:restriction base="xsd:NMTOKEN">
          <xsd:enumeration value="yes"/>
          <xsd:enumeration value="no"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <!-- attributes that all quantities (sans refQuantities) have -->
  <!-- the quantity type .. all quantities inherit from this -->
  <xsd:attributeGroup name="ComponentAttribs">
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="matrixQuantityAttribs">
    <xsd:attribute name="size" type="xsd:nonNegativeInteger" use="optional"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="listQuantityAttribs">
    <xsd:attributeGroup ref="ComponentAttribs"/>
    <xsd:attributeGroup ref="so:SemanticAttribs"/>
    <xsd:attributeGroup ref="matrixQuantityAttribs"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="atomicQuantityAttribs">
    <xsd:attributeGroup ref="ComponentAttribs"/>
    <xsd:attributeGroup ref="so:SemanticAttribs"/>
    <xsd:attribute name="size" use="prohibited"/>
  </xsd:attributeGroup>


  <!-- this type of quantity just references other types, allows some 
       compresson of the document -->
  <xsd:complexType name="refQuantityType">
    <xsd:complexContent>
      <xsd:extension base="QuantityType">
        <xsd:attribute name="qidRef" type="xsd:IDREF" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="refcomponentType">
    <xsd:complexContent>
      <xsd:extension base="AbstractComponentType">
        <xsd:attribute name="fidRef" type="xsd:IDREF" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- the quantity (abstract) group declarations -->
  <xsd:element abstract="true" name="ScalarDataTypeGroup" type="ScalarDataType"/>
  <xsd:element abstract="true" name="QuantityGroup" type="QuantityType"/>
 <!-- ugh. the need to have only listQ's as altValues drives us to this extreme..-->
  <xsd:element abstract="true" name="ListQuantityGroup" type="listQuantityType"/>
  <xsd:element abstract="true" name="ComponentGroup" type="AbstractComponentType"/>

  <!-- Some quantity element declarations. Ayy of these *could*
       serve as the root node of an instance document. Would be pointless 
       to use refQuantity in this manner.
          -->
  <xsd:element name="atomicQuantity" substitutionGroup="QuantityGroup" type="atomicQuantityType"/>
  <xsd:element name="listQuantity" substitutionGroup="ListQuantityGroup" type="listQuantityType"/>
  <xsd:element name="matrixQuantity" substitutionGroup="QuantityGroup" type="matrixQuantityType"/>
  <xsd:element name="axisFrame" substitutionGroup="so:SemanticObjectGroup" type="ReferenceFrameType"/>
  <!--xsd:element name="trivialQuantity" type="TrivialQuantityType" substitutionGroup="QuantityGroup"/-->
  <xsd:element name="refQuantity" substitutionGroup="QuantityGroup" type="refQuantityType"/>

  <xsd:element name="float" substitutionGroup="ScalarDataTypeGroup" type="floatType"/>
  <xsd:element name="integer" substitutionGroup="ScalarDataTypeGroup" type="integerType"/>
  <xsd:element name="string" substitutionGroup="ScalarDataTypeGroup" type="stringType"/>

  <!-- a 'vanilla' component declaration and its reference -->
  <xsd:element name="component" substitutionGroup="ComponentGroup" type="componentType"/>
  <xsd:element name="refComponent" substitutionGroup="ComponentGroup" type="refcomponentType"/>

  <!-- Quantity container -->
  <xsd:complexType name="quantityContainer">
      <xsd:choice maxOccurs="unbounded">
         <xsd:element ref="QuantityGroup"/>
         <xsd:element ref="ListQuantityGroup"/>
      </xsd:choice>
  </xsd:complexType>

  <!-- data types -->
  <xsd:complexType name="ScalarDataType"/>

  <!-- Ascii Ints -->
  <xsd:complexType name="integerType">
    <xsd:complexContent>
       <xsd:extension base="ScalarDataType">
          <xsd:attribute default="decimal" name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:NMTOKEN">
                <xsd:enumeration value="decimal"/>
                <xsd:enumeration value="octal"/>
                <xsd:enumeration value="hexadecimal"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="width" type="xsd:NMTOKEN"/>
          <xsd:attribute default="yes" name="signed">
            <xsd:simpleType>
              <xsd:restriction base="xsd:NMTOKEN">
                <xsd:enumeration value="yes"/>
                <xsd:enumeration value="no"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="noDataValue" type="xsd:long"/>
       </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Ascii Floats, incl. Exponential stuff -->
  <xsd:complexType name="floatType">
    <xsd:complexContent>
       <xsd:extension base="ScalarDataType">
          <xsd:attribute name="width" type="xsd:NMTOKEN"/>
          <xsd:attribute name="precision" type="xsd:NMTOKEN"/>
          <xsd:attribute default="0" name="exponent" type="xsd:NMTOKEN"/>
          <xsd:attribute name="noDataValue" type="xsd:double"/>
       </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- strings -->
  <xsd:complexType name="stringType">
    <xsd:complexContent>
       <xsd:extension base="ScalarDataType">
          <xsd:attribute default="-1" name="width" type="xsd:NMTOKEN"/>
          <xsd:attribute name="noDataValue" type="xsd:string"/>
       </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="vectorType">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element maxOccurs="unbounded" ref="ComponentGroup"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Units -->
  <!-- The generic units type .. all units inherit from this. -->
  <xsd:complexType name="UnitsType"/>

  <xsd:complexType name="UnitsContainer">
     <xsd:sequence>
          <xsd:element ref="UnitsGroup"/>
     </xsd:sequence>
  </xsd:complexType>

  <!-- for now, the only way to specify units is via string. (ugh) -->
  <xsd:complexType mixed="true" name="stringUnitsType">
      <xsd:complexContent>
            <xsd:extension base="UnitsType">
               <xsd:anyAttribute namespace="##any"/> <!-- allow other namespaces to add attribs to Q's -->
            </xsd:extension>
      </xsd:complexContent>
  </xsd:complexType>

  <!-- Abstract decl -->
  <xsd:element abstract="true" name="UnitsGroup" type="UnitsType"/>

  <!-- concrete units we may want -->
  <xsd:element name="units" substitutionGroup="UnitsGroup" type="stringUnitsType"/>

  <!-- special string type: a field with 2 colons which separate
       numbers as "int:int:float" Perhaps: We need to couple this with a 
       value restriction, so that suppled values in quantites with
       this are restricted to correct pattern (easy to do for BQ,
	but difficult for advanced Q's). 
    -->
<!--
  <xsd:complexType name="sexigesimalType">
     <xsd:complexContent>
        <xsd:extension base="stringType"/>
     </xsd:complexContent>
  </xsd:complexType>
-->

  <!-- special string type: a field with 2 dashes which separate
       numbers as "int-int-int", the year-month-day. We need
       to be more stringent/clear about acceptable dates. This is
       preliminary. 
    -->
<!--
  <xsd:complexType name="dateType">
     <xsd:complexContent>
        <xsd:extension base="stringType"/>
     </xsd:complexContent>
  </xsd:complexType>
-->


  <!-- a component of a vector. -->
  <xsd:complexType name="componentType">
    <xsd:complexContent>
        <xsd:extension base="AbstractComponentType">
          <xsd:sequence>
      
          <xsd:choice>
             <xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="propertyType"/>
             <xsd:element maxOccurs="unbounded" minOccurs="0" name="dtproperty" type="so:simplePropertyType"/>
          </xsd:choice>

            <!-- units/dataType section -->
            <xsd:choice>
              <!-- type 1 : scalar needs dataType + units -->
              <xsd:sequence>
                 <xsd:element minOccurs="0" ref="UnitsGroup"/>
      
                 <xsd:choice minOccurs="0">
                   <xsd:element name="float" type="floatType"/>
                   <xsd:element name="integer" type="integerType"/>
                   <xsd:element name="string" type="stringType"/>
                 </xsd:choice>
               </xsd:sequence>
      
               <!-- type 2 : vector needs dataType only -->
               <xsd:element name="vector" type="vectorType"/>
            </xsd:choice>
          </xsd:sequence>
          <xsd:attributeGroup ref="ComponentAttribs"/>

        </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- treatment of data..allow all sorts of tagging for cells -->
  <xsd:element abstract="true" name="ValueGroup" type="valueType"/>

  <xsd:complexType name="valueType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="ValueContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" ref="ValueGroup"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- the default value (cell) element -->
  <xsd:element name="value" substitutionGroup="ValueGroup" type="valueType"/>

</xsd:schema>
